<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/figures/PDSH-cover-small.png?raw=1">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Introducing Pandas Objects](03.01-Introducing-Pandas-Objects.ipynb) | [Contents](Index.ipynb) | [Operating on Data in Pandas](03.03-Operations-in-Pandas.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.02-Data-Indexing-and-Selection.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# 資料的索引和選擇

## 在Series中選擇資料

### 把Series當作是字典

就像是字典一樣，``Series``物件提供從一堆鍵中到一堆值的方法對應:

In [19]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [20]:
data['b']

0.5

也可以使用類似字典的Python表達式和方法檢查這些鍵/索引和值:

In [21]:
'a' in data

True

In [22]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [23]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

``Series``物件甚至可以使用類似字典的語法進行修改(可變動性)。就像是你可以藉由設定一個鍵去擴大這個字典一樣，也可以藉由加入一個新的索引來擴增 ``Series``:

In [24]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [25]:
data['f'] = 2
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
f    2.00
dtype: float64

### 把Series當作是一維陣列

``Series``透過字典型態的介面建構，而提供陣列方式的項目選擇方式，就像是在操作Numpy的基本方法一樣，也就是,*切片*, *遮罩*, 和 *花式索引*.

In [14]:
# 藉由指定索引來切片
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [15]:
# 藉由隱含的整數索引來切片
data[0:2]

a    0.25
b    0.50
dtype: float64

In [16]:
# 遮罩
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [17]:
data[(data >= 2) | (data < 1)]

a    0.25
b    0.50
c    0.75
dtype: float64

In [26]:
# 花式索引
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc

In [27]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [28]:
# 當索引時使用明確的索引
data[1]

'a'

In [29]:
data[2]

KeyError: ignored

In [30]:
# 當切片時使用隱含的索引
data[1:3]

3    b
5    c
dtype: object

因為這樣在整數索引上潛在的可能混淆, Pandas提供了一些特別的*indexer*屬性可以明確的呈現毫無疑問的機制。它們不是基本的方法函式，而是在 ``Series``中可以針對資料揭示特定切片介面的屬性。

首先，``loc``屬性允許索引和切片總是參考到明確的索引:

In [31]:
# loc取特定的標籤
data.loc[1]

'a'

In [32]:
data.loc[1:3]

1    a
3    b
dtype: object

``iloc``屬性則是讓索引和切片的索引總是以隱含的Python型態索引:

In [33]:
# iloc取整數位置
data.iloc[1]

'b'

In [34]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [35]:
data.iloc[0:2]

1    a
3    b
dtype: object

## 在DataFrame中選取資料

### 把DataFrame當作是字典

In [36]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

每一個 ``Series``組成了``DataFrame``的欄，這些可以被以字典型態的方式透過欄名來取得:

In [37]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

同樣的，也可以把欄名當作是屬性的方式來取得:

In [38]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [39]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

像是之前討論``Series``物件一樣，此種字典形式的語法也可以被用在修改物件上:

In [40]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### 把DataFrame當作二維陣列

如同先前提到，可以把``DataFrame``當作一個強化版的二維陣列。使用 ``values``這個屬性可以檢查原始的陣列資料:

In [41]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

用此種方式，就可以在``DataFrame``上執行許多陣列操作方式的觀察。

例如:可以把整個``DataFrame``進行行列交換的轉置操作:

In [42]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [43]:
data_t = data.T
data_t

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [44]:
data_t.California

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
Name: California, dtype: float64

然而在索引``DataFrame``物件時，很顯然的透過字典形式的欄位索引方式，會妨礙到我們把它簡單的當作是Numpy陣列。

尤其是傳遞單一個index去存取陣列中的一列:

In [45]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [46]:
data.values[1]

array([6.95662000e+05, 2.64481930e+07, 3.80187404e+01])

以及傳遞單一個"index"到``DataFrame``去取得一欄:

In [47]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

使用``iloc`` indexer, 可以索引基本的陣列，就像是一個簡單的Numpy陣列，``DataFrame``索引和欄標籤會被保留在結果中:

In [48]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [49]:
data.loc['Texas':'Illinois', 'pop':'density']

               pop     density
Texas     26448193   38.018740
New York  19651127  139.076746
Florida   19552860  114.806121
Illinois  12882135   85.883763

In [50]:
data.loc[:'Illinois', 'pop':]

                 pop     density
California  38332521   90.413926
Texas       26448193   38.018740
New York    19651127  139.076746
Florida     19552860  114.806121
Illinois    12882135   85.883763

In [51]:
data.loc[:'Illinois', ['area','density']]

              area     density
California  423967   90.413926
Texas       695662   38.018740
New York    141297  139.076746
Florida     170312  114.806121
Illinois    149995   85.883763

在 ``loc`` indexer可以結合花式索引和遮罩:

In [52]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [53]:
data.loc[data.density > 100, ['area', 'density']]

            area     density
New York  141297  139.076746
Florida   170312  114.806121

In [54]:
data.loc[data.density > 100, ['pop', 'area']]

               pop    area
New York  19651127  141297
Florida   19552860  170312

任何這些索引方式的慣例也可以被用在設定或修改資料值

In [55]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### 額外的索引慣例

還有2個額外的索引慣例看起來跟之前討論的不太一樣，

第一，當*索引*指向欄位, *切片*指向列時:

In [56]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

此切片也可以讓列的索引以數字取代:

In [57]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

同樣的, 直接遮罩操作也可以被列來處理，而不是欄:

In [58]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

這兩種慣例在語法上和Numpy陣列上的相似，但是它們可能並不是很精準符合Pandas的慣例，但在實務上仍然非常好用。

<!--NAVIGATION-->
< [Introducing Pandas Objects](03.01-Introducing-Pandas-Objects.ipynb) | [Contents](Index.ipynb) | [Operating on Data in Pandas](03.03-Operations-in-Pandas.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.02-Data-Indexing-and-Selection.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>